:root{
    --tamaño-icon:4rem
}

#favicon{
    width: var(--tamaño-icon);
    height: var(--tamaño-icon);
}

p i{
    font-size: 2rem;
}


nav, footer{
    background-color: #ABE5C9 !important;
}

.cardDetails{
    background: #ABE5C9;
}

.imgDetails{
    border: 1px solid black; 
}

.buy{
    cursor:pointer
}

h1, h2, h2{
    text-align: center;
}